{% extends "base.html" %}

{% block main %}

<h1> Hotels </h1>
<table>
    <th>Hotel ID</th>
    <th>Hotel Destination</th>
    <th>Rooms</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Availability</th>
  
  
    {% for entry in hotels %}
  
    <tr>
      <td>{{entry.hotelid}}</td>
      <td>{{entry.hotel_name}}</td>
      <td>{{entry.rooms}}</td>
      <td>{{entry.price}}</td>
      <td>{{entry.rating}}</td>
      <td>{{entry.availability}}</td>
    </tr>
  
    {% endfor %}
  </table>

<form action="" method="post">
  {{delform.csrf_token}}

  <label>{{delform.deleteID.label}}</label>
  {{delform.deleteID}}

  {{delform.delete()}}

</form>

{% endblock %}
