{% extends "base.html" %}

{% block main %}

<form method="POST">
  {{form.csrf_token}}

  <label>{{form.query.label}}</label>
  {{form.query(size=60)}}
  {{form.submit}}
</form>

<center><h1> Bookings </h1>
<!-- Bookings Sort -->
<form method="GET" action="{{ url_for('home') }}">
  <button type="submit" name="sort" value="bookingid">Sort by Booking ID</button>
  <button type="submit" name="sort" value="firstname">Sort by First Name</button>
  <button type="submit" name="sort" value="lastname">Sort by Last Name</button>
  <button type="submit" name="sort" value="hotelname">Sort by Hotel Name</button>
</form></center>
<br>

<table>
  <th>BookingID</th>
  <th>Hotel Destination</th>
  <th>Check in Date</th>
  <th>Check out Date</th>
  <th># Guests</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Age</th>
  <th>Email</th>
  <th>Phone No.</th>
  <th>Confirmation</th>
  <th>Action</th>

  {% for entry in bookings %}

  <tr>
    <td>{{entry.bookingid}}</td>
    <td>{{entry.hotel_name}}</td>
    <td>{{entry.check_in_date}}</td>
    <td>{{entry.check_out_date}}</td>
    <td>{{entry.num_guests}}</td>
    <td>{{entry.cust_fname}}</td>
    <td>{{entry.cust_lname}}</td>
    <td>{{entry.cust_age}}</td>
    <td>{{entry.cust_email}}</td>
    <td>{{entry.cust_phone_number}}</td>
    {% if not entry.confirmed %}
      <td>No</td>
      <td><a href="{{ url_for('confirm', bookingid=entry.bookingid) }}"><button>Confirm</button></a></td>
    {% else %}
      <td>Yes</td>
      <td><a href="{{ url_for('confirm', bookingid=entry.bookingid) }}"><button>Unconfirm</button></a></td>
    {% endif %}
  </tr>

 {% endfor %}
</table>

    <br>
<center><h1> Hotels </h1>
<!-- Hotels Sort -->
<form method="get">
  <button type="submit" name="sort" value="hotelid">Sort by Hotel ID</button>
  <button type="submit" name="sort" value="room">Sort by Room</button>
  <button type="submit" name="sort" value="hotel_name">Sort by Hotel Destination</button>
</form></center>
<br>

<table>
    <th>Hotel ID</th>
    <th>Hotel Destination</th>
    <th>Rooms</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Availability</th>
  
    {% for entry in hotels %}
  
    <tr>
      <td>{{entry.hotelid}}</td>
      <td>{{entry.hotel_name}}</td>
      <td>{{entry.rooms}}</td>
      <td>${{entry.price}}</td>
      <td>{{entry.rating}}</td>
      <td>{{entry.availability}}</td>
    </tr>
  
    {% endfor %}
  </table>

{% endblock %}