{% extends "base.html" %}

{% block main %}

    <h1>Hotel Booking Form</h1>
    <hr>

    <form action="" method="post">
      {{form.csrf_token}}

      <label>{{form.hotel_name.label}}</label><br>
      {{form.hotel_name(size=30)}}<br>

      <label>{{form.room.label}}</label><br>
      {{form.room(size=30)}}<br>

      <label>{{form.check_in_date.label}}</label><br>
      {{form.check_in_date}}<br>

      <label>{{form.check_out_date.label}}</label><br>
      {{form.check_out_date}}<br>

      <label>{{form.num_guests.label}}</label><br>
      {{form.num_guests}}<br>

      <label>{{form.cust_fname.label}}</label><br>
      {{form.cust_fname}}<br>

      <label>{{form.cust_lname.label}}</label><br>
      {{form.cust_lname}}<br>

      <label>{{form.cust_age.label}}</label><br>
      {{form.cust_age}}<br>

      <label>{{form.cust_email.label}}</label><br>
      {{form.cust_email}}<br>

      <label>{{form.cust_phone_number.label}}</label><br>
      {{form.cust_phone_number}}<br>

      {{form.submit()}}

    </form>

    {% endblock %}
 
